<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Lista de productos</h1>
    
    <form id="productForm">
        <input type="text" name="titulo" placeholder="Titulo" required />
        <input type="number" name="precio" placeholder="Precio" required />
        <input type="number" name="stock" placeholder="Stock" required />
        <input type="text" name="categoria" placeholder="Categoria" required />
        <button type="submit">Add Product</button>
    </form>
    <ul id="productList"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.titulo} - ${product.precio} - Stock: ${product.stock}`;
                productList.appendChild(listItem);
            });
        });

        document.getElementById('productForm').addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const product = {
                titulo: formData.get('titulo'),
                precio: formData.get('precio'),
                stock: formData.get('stock'),
                categoria: formData.get('categoria')
            };
            socket.emit('addProduct', product);
            event.target.reset();
        });

         socket.emit('requestProducts');
    </script>
</body>
</html>
